@page
@model WebProjectSkillsAssessment.Views.Shared._HeaderLayoutModel
@{
}
<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
        <span class="fa fa-bars"></span>
    </button>
    <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
        <span class="fa fa-bars"></span>
    </button>
    <ul class="c-header-nav ml-auto mr-4">
        
         
            <li class="c-header-nav-item dropdown">
                <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="c-avatar">
                        <span class="fa fa-user fa-lg"></span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right pt-0">
                    <div class="dropdown-header bg-light py-2">
                    </div>
                    <a class="dropdown-item" asp-controller="Manage" asp-action="TwoFactorAuthentication"><span class="fa fa-lock c-icon mr-2"></span> 2-Factor Authentication</a>
                    <a class="dropdown-item" asp-controller="Manage" asp-action="FirebaseNotification"><span class="fa fa-bell c-icon mr-2"></span> Cloud Notification</a>
                    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="dotNetCoreLogoutForm">
                        <button type="submit" class="dropdown-item"><span class="fa fa-sign-out-alt c-icon mr-2"></span> Logout</button>
                    </form>
                    <div class="dropdown-header bg-light py-2">
                        <strong>Contact</strong>
                    </div>
                    <a class="dropdown-item" asp-action="Support" asp-controller="Home">
                        <span class="fa fa-envelope c-icon mr-2"></span> Send us an email
                    </a>
                </div>
            </li>
        
    </ul>
</header>
