
<br />
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">List Of People With Accounts</h5>
                <p class="card-text">To View The List Please Click the button below.</p>
                <a href="/persons/GetListOfPersons" class="btn btn-primary">People With Accounts</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">List Of People With No Accounts</h5>
                <p class="card-text">To View The List Please Click the button below.</p>
                <a href="/persons/GetListOfPeopleWithNoAccount" class="btn btn-primary">People With No Accounts</a>
            </div>
        </div>
    </div>
</div>