@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="text-center">
   
 
<div class="card">
  <div class="card-body"><h1 class="display-4">Welcome</h1>
        <p>manage people, their accounts and transactions logged against these accounts.</p></div>
</div>
</div>
